<div class="footer-container">
  <div class="left">
    <span class="roboto-medium">Contatos</span>
    <div class="icons">
      <a
        href="https://api.whatsapp.com/send?phone=5592986040631&text=Ol%C3%A1%20Irineu%2C%20eu%20vim%20pelo%20seu%20desafio%20tecnico%20da%20ibbi"
        target="blank"
        title="Whatsapp"
      >
        <ng-icon
          class="whatsapp"
          name="phosphorWhatsappLogoDuotone"
          size="24"
          weight="fill"
        ></ng-icon>
      </a>
      <a
        class="linkedin"
        href="https://www.linkedin.com/in/irineu-brito/"
        target="blank"
        title="Linkedin"
      >
        <ng-icon
          name="phosphorLinkedinLogoDuotone"
          size="24"
          weight="fill"
        ></ng-icon>
      </a>
    </div>
  </div>
  <div class="right roboto-black">Desenvolvido Por Irineu Brito usando Angular</div>
</div>
