<div class="dashboard-container">
  <div class="top">
    <div class="historico">
      <span sty>Historico de Vendas</span>
      <div class="cardH" *ngFor="let venda of history">
        <div class="minicard">
          <span>Data:</span>
          <p>{{ formatSoldTime(venda.soldTime, "date") }}</p>
        </div>
        <div class="minicard">
          <span>Horario:</span>
          <p>{{ formatSoldTime(venda.soldTime, "time") }}</p>
        </div>
        <div class="minicard">
          <span>Produto:</span>
          <p>{{ venda.productName }}</p>
        </div>
        <div class="minicard">
          <span>Cliente:</span>
          <p>{{ venda.clientName }}</p>
        </div>
        <div class="minicard">
          <span>Vendedor:</span>
          <p>{{ venda.vendorName }}</p>
        </div>
      </div>
    </div>

    <div class="porCategoria">
      <span>Vendas por Categorias</span>
      <div class="grafico">

        <ngx-charts-pie-chart
          [view]="[600,200]"
          [results]="categoriasData"
          [doughnut]="true"
          [explodeSlices]="true"
          [gradient]="true"
          [legend]="true"
          [legendTitle]="'Categoria'"
        >
        </ngx-charts-pie-chart>
      </div>
    </div>

    
  </div>
  <div class="bottom">
    <span>Produtos Mais Vendidos</span>
    <div class="grafico">
      <ngx-charts-bar-vertical
        [view]="[800,200]"
        [results]="produtosData"
        [legend]="true"
        [legendTitle]="'Produto'"
        [roundEdges]="true"

      >
      </ngx-charts-bar-vertical>
    </div>
    </div>
</div>
